// Navigation Styles

.navigation {
  @include span-columns(6);
  @include shift(3);

  &__wrapper {
    @include fill-parent;
    @include clearfix;
  }

  ul.menu {
    display: flex;
    justify-content: space-between;

    li {
      padding: 1em 0;
    }
  }



}
