<!doctype html>
html
  head

    meta(charset="utf-8")
    link(rel="stylesheet", href="css/styles.min.css")   
  body
    .header__wrapper
      .header
        .primary-navigation__wrapper
          nav.primary-navigation
            ul
              li( v-for="item in primaryMenuItems.items") {{ item.title }}
                a( href="/{{ item.title }}/") 
    .main__wrapper
      .main
        #example
          my-component



        h1 Blog Index
          .posts__wrapper
            .posts#blogListing
              .post( v-for="post in posts")
                h2 {{ post.title.rendered }}
                span.post__meta__date {{ post.date_gmt }} <br/>
                span.post__meta__author {{ post.author }} <br/>
                span.post__meta__permalink {{ post.link }} <br/>
                span.post__meta__ID {{ post.id }} <br/>
                article.post__content {{ post.content.rendered}} <br/>
                .post__sweetPost__sweets-button
                    button( v-on:click="sweetThis($data)") Sweet Post Bro
                .post__sweetPost__sweets {{ post.acf.sweets}}



    script(src="vendor/vue.js")  
    script(src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.16/vue-resource.min.js")      
    script(src="js/scripts.min.js")
    