<!doctype html>
html
  head

    meta(charset="utf-8")
    link(rel="stylesheet", href="css/styles.min.css")   
  body
    .header__wrapper
      .header
        nav.navigation__wrapper
          .navigation
            ul.menu
              li Item 1
              li Item 2
              li Item 3
              li Item 4
              li Item 5
    .main__wrapper
      .main
        h1 Blog Index
        button( v-on="click: loadPosts()") Load Posts

        .posts__wrapper
          .posts#blogListing
            .post( v-for="post in posts")
              h2 {{ post.title.rendered }}
              span.post__meta__date {{ post.date_gmt }} <br/>
              span.post__meta__author {{ post.author }} <br/>
              span.post__meta__permalink {{ post.link }} <br/>
              span.post__meta__ID {{ post.id }} <br/>
              article.post__content {{ post.content.rendered}} <br/>
              .post__sweetPost__sweets-button
                  button( v-on:click="sweetThis($data)") Sweet This Post
              .post__sweetPost__sweets {{ post.sweets}}



    script(src="vendor/vue.js")  
    script(src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.16/vue-resource.min.js")      
    script(src="js/scripts.min.js")
    